body {
    scroll-behavior: smooth;
    background: #18181b;
}

/* .wrapper {
    background: #55555555;
}

.card {
    background: #202020;
} */

.heading {
    background: radial-gradient(circle, #f1f5f9, #d8dbdf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #55555555;
    border-radius: 6px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #313131;
}